/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

.table-sudoku-grid {
    height: 500px;
    width: 500px;
    align-content: center;
    border: 1px solid black;
    text-align: center;
    vertical-align: central;
    margin: auto;
}

.table-sudoku-grid-cell {
    border: 1px solid black;
    font-size: 20px;
    column-width: 10px;
    align-content: center;
}

.div-sudoku-grid {
    margin: auto;
    width: 75%;
    text-align: center;
}

.textarea {
    width: 10px;
    /*height: 10em;*/
}

.table-sudoku-grid-cell td {
    border: solid #3c6f91 1px;
    white-space: nowrap;
    width: 1px;
}

input[type=text] {
    font: 18pt arial, tahoma, verdana sans-serif;
    width: 100%;
    align-items: center;
}